.SendTweetContainer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .TopTweetContainer {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202327;
    padding: 10px 20px;
    box-sizing: border-box;
  }
  
  .UserPicture {
    border: 1px solid white;
    width: auto;
    height: 60px;
    display: flex;
    border-radius: 50%;
    object-fit: contain;
  }
  
  .TopTweetContainer input{
    background-color: #000000;
    border-style: none;
    color: white;
    width: calc(100% - 64px);
    height: 40px;
    font-size: 20px;
    display: flex;
    margin-left: 20px;
    outline: none;
  }
  
  .BottomTweetContainer {
    padding: 15px;
    border-top: 1px solid #202327;
    border-bottom: 1px solid #202327;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #1D9BF0;
  }
  
  .IconsWrapper {
    display: flex;
    align-items: center;
  }
  
  .TweetIcons {
    margin-left: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
  }
  
  .TweetIcons:hover {
    background-color: rgba(29, 155, 240, 0.15);
  }
  
  

  @media only screen and (max-width: 420px) {
    .SendTweetContainer {
      height: 130px;
    }
    .TopTweetContainer {
      height: 100px;
    }
    .BottomTweetContainer {
      height: 50px;
      padding: 0;
    }
    .UserPicture {
      height: 50px;
    }
    .TopTweetContainer input{
      margin-left: 15px;
      height: 30px;
      font-size: 18px;
    }
    .TweetIcons {
      margin-left: 2px;
      font-size: 16px;
    }
    .TweetSendBtn {
      padding: 10px;
      
    }
    .btnPrimary {
      font-size: small;
    }
  }
  